@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow: hidden;
  scroll-behavior: smooth;
}

.containerScroll {
  scroll-behavior: smooth;
}

.containerScroll::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  border-radius: 4px;
}

.containerScroll::-webkit-scrollbar-thumb {
  background: #00beef;
  border-radius: 4px;
}

.main {
  overflow-x: scroll;
}

.main::-webkit-scrollbar {
  height: 8px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #00beff;
  border-radius: 4px;
}

.item:hover .trash {
  display: flex;
}

.trash {
  display: none;
}

.taskContent::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  border-radius: 4px;
}

.taskContent::-webkit-scrollbar-thumb {
  background-color: #00ccff;
  border-radius: 4px;
}

*::selection {
  background-color: #003442;
}